#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:2px solid black;
    gap: 10px;
}
h2{
    text-align: center;
    box-sizing: border-box;
    padding: 5px;
    background-color: rgb(255, 167, 35);
    color: rgb(140, 0, 0);
    width: 100%;
}

img{
    width: 15%;
}
input{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}