<div id="parent">
    <div [appBgColor]="{bgColor:'rgb(29, 29, 30)', textColor:'rgb(51, 113, 128)'}"
        class="d-flex justify-content-center align-items-center mt-4">
        <img src="https://cdn-icons-png.flaticon.com/512/219/219983.png" alt="">
        <h1>Admin</h1>
    </div>
    <div [appBgColor]="{bgColor:'rgb(51, 113, 128)', textColor:'rgb(29, 29, 30)'}"
        class="d-flex justify-content-center align-items-center mt-4">
        <img src="https://cdn-icons-png.flaticon.com/512/219/219983.png" alt="">
        <h1>User: Ali</h1>
    </div>
    <div [appBgColor]="{bgColor:'rgb(180, 221, 16)', textColor:'rgb(243, 250, 255)'}"
        class="d-flex justify-content-center align-items-center mt-4">
        <img src="https://cdn-icons-png.flaticon.com/512/219/219983.png" alt="">
        <h1>User: Abdo</h1>
    </div>
</div>